@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
    font-family: "JetBrainsMono";
    src: url("/JetBrainsMono.ttf");
    font-weight: 100 900;
    font-display: swap;
}

.prose {
    @apply prose-p:text-gray-400;
    @apply prose-h1:text-white prose-h1:text-2xl prose-h1:font-bold;
    @apply prose-h2:text-gray-400 prose-h2:text-xl prose-h2:font-semibold;
    @apply prose-h3:text-gray-400 prose-h3:text-lg prose-h3:font-semibold;

    @apply prose-li:text-gray-400;

    @apply prose-img:rounded prose-img:border prose-img:border-gray-800;
    @apply prose-figure:text-center;

    @apply prose-code:text-gray-400 prose-code:bg-zinc-800 prose-code:rounded prose-code:px-2 prose-code:py-1;
    @apply prose-code:before:content-none prose-code:after:content-none;

    @apply prose-pre:bg-zinc-800! prose-pre:rounded prose-pre:px-4 prose-pre:py-2;
}

.prose pre code * {
    @apply font-[JetBrainsMono]
}

.disclaimer {
    @apply text-gray-400 text-sm bg-zinc-800 rounded-lg p-2;
}
