---
import type { SvgComponent } from "astro/types";
import type { ImageMetadata } from "astro";

import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import Github from "../assets/github.svg";
import Linkein from "../assets/linkedin.svg";
import Mail from "../assets/mail.svg";

type Link = {
    name: string;
    url: string;
    icon: SvgComponent & ImageMetadata;
};

const links: Link[] = [
    {
        name: "GitHub",
        url: "https://github.com/dmc0125",
        icon: Github,
    },
    {
        name: "LinkedIn",
        url: "https://linkedin.com/in/dominik-michal-b5a8b6409",
        icon: Linkein,
    },
    {
        name: "Mail",
        url: "mail:dominikmichal0124@gmail.com",
        icon: Mail,
    },
];
---

<Layout>
    <header
        id="header"
        class="w-full h-16 border-black border-b bg-black sticky top-0 trasition-all"
    >
        <nav class="w-full h-16 flex items-center justify-center">
            <ul class="w-fit h-16 flex gap-4 items-center text-gray-400">
                <li>
                    <a href="#home" class="hover:text-white hover:underline"
                        >Home</a
                    >
                </li>
                <li>
                    <a href="#about-me" class="hover:text-white hover:underline"
                        >About me</a
                    >
                </li>
                <li>
                    <a href="#projects" class="hover:text-white hover:underline"
                        >Projects</a
                    >
                </li>
                <li>
                    <a href="#contact" class="hover:text-white hover:underline"
                        >Contact</a
                    >
                </li>
            </ul>
        </nav>
    </header>

    <script>
        const header = document.getElementById("header");
        let scrolled = false;

        function handleScroll() {
            if (header === null) return;

            if (window.scrollY > 0 && !scrolled) {
                header.classList.remove("bg-black", "border-black");
                header.classList.add("bg-black/20", "border-gray-800");
                header.style.backdropFilter = "blur(10px)";
                scrolled = true;
            } else if (window.scrollY === 0 && scrolled) {
                header.classList.remove("bg-black/20", "border-gray-800");
                header.classList.add("bg-black", "border-black");
                header.style.backdropFilter = "blur(0px)";
                scrolled = false;
            }
        }

        window.addEventListener("scroll", handleScroll);
        window.addEventListener("DOMContentLoaded", handleScroll);
    </script>

    <section
        id="home"
        class="w-full max-w-[450px] pt-20 pb-32 sm:pt-48 sm:pb-48 px-4"
    >
        <h1 class="text-white text-2xl font-bold">Hi, my name is Dominik</h1>
        <h2 class="text-teal-600 text-lg font-bold pt-2">
            Hopefully soon to be a software developer
        </h2>
        <p class="text-gray-400 pt-4">
            I'm self taught programmer living in Slovakia, passionate about
            building things and learning new stuff.
        </p>
        <div class="flex gap-8 items-center mt-6">
            {
                links.map((link) => (
                    <a
                        href={link.url}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-gray-400 hover:text-teal-600 transition-all"
                    >
                        <link.icon class="size-8" />
                    </a>
                ))
            }
        </div>
    </section>

    <section id="about-me" class="w-full px-4">
        <div class="flex gap-4 items-center">
            <div class="h-[2px] w-full bg-gray-700"></div>
            <h3 class="text-gray-400 text-lg font-semibold shrink-0 uppercase">
                About me
            </h3>
            <span class="text-lg font-medium text-gray-700">01</span>
        </div>

        <div class="text-gray-400 pt-8 flex flex-col gap-4">
            <p>
                My programming journey started in high school in 2018, with
                basic HTML in Notepad, which ironically, I found boring
                initially. Things clicked when I actually built something I
                cared about, and I've been hooked since.
            </p>
            <p>
                I studied economics at university but spent most of it writing
                code on the side, turns out that's what I actually wanted to do.
                Over the years I've gone from building websites and JavaScript
                bots to automating crypto trading, writing a crypto tax tool,
                and eventually moving toward lower level languages like Go and
                Odin which is where I feel most at home and lately started
                exploring game development.
            </p>
            <p>
                I gravitate toward backend work, CLI tools, and anything that
                requires understanding how things work under the hood.
            </p>
        </div>
    </section>

    <section id="projects" class="w-full px-4 mt-16 sm:mt-32">
        <div class="flex gap-4 items-center">
            <div class="h-[2px] w-full bg-gray-700"></div>
            <h3 class="text-gray-400 text-lg font-semibold shrink-0 uppercase">
                Projects
            </h3>
            <span class="text-lg font-medium text-gray-700">02</span>
        </div>

        <div class="pt-10 sm:pt-20 w-full flex flex-col gap-12 sm:gap-20">
            <Project
                name="Chip-8 emulator"
                description="
                    A Chip-8 emulator written in Odin (with SDL2 or compiled to wasm) and React. Features full
                    support for all original Chip-8 opcodes so it's possible to load
                    and run any Chip-8 rom.
                "
                url="https://chip-8.dmnk.app/"
                githubUrl="https://github.com/dmc0125/chip8-emulator"
                imageUrl="chip8-emulator.png"
                technologies={["Odin", "SDL2", "React", "Typescript"]}
            />
            <Project
                name="Cube game"
                description="
                    A cube game based on Tetris written in Odin. This project contains two versions of the game,
                    one with SDL2 and one with Web Assembly. The Web Assembly version is served with Astro and is playable in browser.
                "
                url="https://cube-game.dmnk.app/"
                githubUrl="https://github.com/dmc0125/tetris"
                imageUrl="cube-game.gif"
                technologies={["Odin", "Astro", "Web assembly"]}
            />
            <Project
                name="Blogger"
                description="
                    A terminal tool that generates README prompts or blog post prompts from a GitHub repository,
                    then sends them to LLM (OpenAI or Anthropic) and saves the resulting Markdown.
                "
                githubUrl="https://github.com/dmc0125/blogger"
                imageUrl="blogger.gif"
                technologies={["Odin", "OpenAI", "Anthropic", "CLI"]}
            />
        </div>
    </section>

    <section id="contact" class="w-full px-4 mt-16 sm:mt-32">
        <div class="flex gap-4 items-center">
            <div class="h-[2px] w-full bg-gray-700"></div>
            <h3 class="text-gray-400 text-lg font-semibold shrink-0 uppercase">
                Contact
            </h3>
            <span class="text-lg font-medium text-gray-700">03</span>
        </div>

        <p class="mt-10 text-gray-400">
            I'm always open to discussing new projects, creative ideas, or
            opportunities to be part of something great. Feel free to reach out!
        </p>

        <form id="contact-form" class="w-full mt-6 flex flex-col gap-4">
            <input
                type="email"
                placeholder="Email"
                name="from"
                class="input"
                required
            />
            <input
                type="text"
                placeholder="Subject"
                name="subject"
                class="input"
            />
            <textarea
                placeholder="Message"
                class="input"
                name="message"
                required></textarea>
            <button
                class="w-fit bg-teal-600 text-white px-4 py-2 rounded opacity-50"
                type="submit"
                disabled>Coming soon</button
            >
        </form>

        <script>
            import { actions } from "astro:actions";

            const contactForm = document.getElementById("contact-form");
            if (contactForm === null) {
                throw new Error("Contact form not found");
            }
            contactForm.addEventListener("submit", async (e) => {
                e.preventDefault();
                const formData = new FormData(e.target! as HTMLFormElement);
                const { error } = await actions.sendMail(formData);
                if (error) {
                    throw error;
                }
            });
        </script>

        <style>
            @reference "tailwindcss";

            .input {
                @apply w-full rounded-lg border border-gray-800 px-4 py-2 text-gray-400;
            }
        </style>
    </section>

    <footer
        class="w-full px-4 pb-10 pt-6 mt-16 border-t border-gray-800 flex gap-4 flex-col sm:flex-row justify-between items-center"
    >
        <div class="flex gap-4 items-center">
            {
                links.map((link) => (
                    <a
                        href={link.url}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-gray-400 hover:text-teal-600 transition-all"
                    >
                        <link.icon class="size-6" />
                    </a>
                ))
            }
        </div>

        <span class="text-gray-400 text-sm">
            © {new Date().getFullYear()} Dominik Michal. All rights reserved.
        </span>
    </footer>
</Layout>
